/* Auth.css */
.auth-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.form-container {
    max-width: 400px;
    width: 100%;
    background: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s;
}

.form-container:hover {
    transform: scale(1.02);
}

h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 0.75rem 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: lightsalmon;
    outline: none;
}

.dark-button {
    background-color: #1d4ed8;
    color: white;
    border-radius: 8px;
    border: none;
    width: 100%;
    margin: 1rem 0;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dark-button:hover {
    background-color: #436bdc;
}

.light-button {
    color:#1d4ed8;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #1d4ed8;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.light-button:hover {
    color: #436bdc;
    background-color: #fff;
}

.password-container {
    position: absolute;
    width: 100%;
}

.show-hide {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

p {
    margin: 1.5rem 0 0.5rem;
    font-size: 1rem;
    color: #666;
}

.password-container {
    position: relative;
    width: 100%;
}

@media (max-width: 844px) and (min-width: 390px) {
    .auth-container {
        padding: 2rem;
        margin-top: 100px;
    }

    .form-container {
        max-width: 380px;
        padding: 1.5rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .input-field,
    .dark-button,
    .light-button {
        font-size: 0.95rem;
    }

    .input-field {
        padding: 12px;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .auth-container {
        padding: 1.5rem;
        margin-top: 100px;
    }

    .form-container {
        max-width: 380px;
        padding: 1.5rem;
    }

    .input-field,
    .dark-button,
    .light-button {
        font-size: 0.9rem;
    }
}

.error-message,
.warning-message {
    color: #ff6161;
    font-size: 12px;
    margin-top: 10px;
}

label {
    margin-right: 450px;
}